---
---

@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('regular.woff2') format('woff2')

@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url('medium.woff2') format('woff2')

@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 600
  font-display: swap
  src: url('semibold.woff2') format('woff2')

@font-face
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url('bold.woff2') format('woff2')
